*{
 
  margin: 0;
  border: 0;
}

#fundo img {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

.navbar{
  background-color: rgba(218, 0, 0, 0.834);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-toda{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  background-color: #373737;
}
.section-toda p{
  color: aliceblue;
  font-family: 'Dosis', sans-serif;
}

.text{
  width: 30%;
  
  text-align: center;
}
.container{
  width: 80%;
  margin: 0;
  display: flex;
  flex-direction: column;
 align-items: center;
 
  
}
.text{
  
  font-size: 40px;
}
.container-form-e-contato{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem;
  
}

.formulario {
  
  display: flex;
  
  flex-direction: row;
}

#nome{
  width: 49%;
  box-shadow: 0 0 1em #dddcd8;
}

#email{
  width: 49%;
  box-shadow: 0 0 1em #dddcd8;
}

.textarea{

  box-shadow: 0 0 1em #dddcd8;
} 

.info{
  width: 50%;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(170, 52, 174); */
  align-items: flex-start;
  margin: auto;
  
}

img{
  width: 20px;
  height: 20px;
}
.telefone{
  display: flex;
  width: 100%;
  padding: 5px;
  gap: 7px;
  /* background-color: chartreuse; */
}

.contato{
  display: flex;
  
  width: 100%;
  padding: 5px;
  gap: 7px;
  /* background-color: rgb(233, 1, 254); */
}

.trabalhe-conosco{
  display: flex;
  width: 100%;
  padding: 5px;
  gap: 7px;
  /* background-color: rgb(51, 173, 229); */
}


