.navbar{
  
  background-color: rgb(83, 14, 211);
}



form{
  
  margin: auto;
  display: flex;
  justify-content: center;
  width: 35%;
  
  border: 1px solid #333;
  background-color: rgb(78, 78, 193);
}

.formulary{
  width: 95%;
  padding: 3rem;
}

